---
---

@import "minima";

body{
    background-color: rgb(220, 208, 255);
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &,
    &:visited {
      color: darkorchid;
    }
  }

.site-nav{
  .page-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkorchid
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:darkorchid
}



/**
 * Links
 */
a {
  color: darkorchid;
  text-decoration: none;

  &:visited {
    color: darken(darkorchid);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}



.site-footer {display: none;}

